<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="../../static/css/style.css">
    <link rel="stylesheet" href="https://use.typekit.net/lsp3edu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Diner4Two</title>
</head>
<header>

  <a class="links_head" href="/recipe">My list of recipes</a>
  <a href="/"><button class="btn" type="button" name="button"> <i class="fa fa-home"></i></button></a>
  <a class="links_head" href="/add">Add a recipe</a>

</header>
