html
  head
    
  title= 'Add your recipe'
  body
    h1= 'Add your recipe'
    form(action="/" method="post")
      label(for="namerecipe") Name recipe:  
      input(name="title" type="text" value="pasta bolognese")
      br
      label(for="serves") Serves:  
      input(name="amount" type="text" value="4") 
      br
      label(for="duration") Duration: 
      input(name="duration" type="time" value="55 minutes")
      br
      label(for="description") Description: 
      textarea(name="description" rows="4" cols="50") 
      br
      input(type="submit" value="Add recipe")


    
              
