html
  head
    title Diner4Two
    style
     include ../static/css/style.css
  body
<<<<<<< HEAD
    h1 Diner4Twooo
    p Welkom op de nieuwe datingsite!
    a(href='/recipe') My list of recipes
    |
    |
    a(href='add_recipe.pug') Add a recipe
    
=======
    h1= 'Diner4Twooo'
    p= 'Welkom op de nieuwe datingsite!'
>>>>>>> 732f115d9810ab593c717930f3fa4bf91bb75cd8
