html
  head
    title Diner4Two
    style
     include ../static/css/style.css
  body
    h1 Diner4Twooo
    p Welkom op de nieuwe datingsite!
    a(href='/recipe') My list of recipes
    |
    |
    a(href='add_recipe.pug') Add a recipe
    
