<% include partials/head.ejs %>




  <h1>Diner4Two</h1>
  <p id="homeMessage">Welcome to the new datingsite for people who <strong>love</strong> to cook!</p>
  <iframe src="https://giphy.com/embed/jrMndALCVXp7O" width="460" height="340" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>

<% include partials/tail.ejs %>
