<<<<<<< HEAD
html
  head
    style
      include ../static/css/style.css
  title= '404'
=======
tml
  head
    title= '404'
>>>>>>> 732f115d9810ab593c717930f3fa4bf91bb75cd8
  body
    h1= 'ERROR 404'
    p= 'Unfortunately the page you requested does not exist..'
