h1, h2, h3, h4, p, li, label, a, button {
  font-family: 'menco', sans-serif;
}

body {
  background-color: #FF889E;
}

h1 {
  color: white;
}

#homeMessage {
  text-align: center;
}

iframe.giphy-embed {
  margin-left: 25em;
}

/* header & head */
header>a.links_head {
  display: flex;
  justify-content: center;
  margin: 4px 10px;
  background-color: #C02C47;
  color: white;
  width: 10em;
  border-radius: 10px;
  padding: 3px;
}

a {
  text-decoration: none;
}

.btn {
  background-color: inherit;
  border-radius: 10px;
  padding: 6px 8px;
  color: white;
  font-size: 20px;
  display: flex;
  float: left;
}

.btn:hover {
  color: #C02C47;
  background-color: white;
}

header>a.links_head:hover {
  background-color: white;
  color: #C02C47;
}

article {
  background-color: #BE2C47;
  border-radius: 10px;
  padding: 5px;
  width: 25em;
}

header {
  display: flex;
  justify-content: center;
}

.lastAdded {
  color: #600b1a;
  background-color: rgb(242, 201, 108);
  border-radius: 5px;
  padding: 10px;
  float: right;
  width: 10em;
  text-align: center;
  font-size: .9em;
  position: absolute;
  margin-top: -2.4em;
  margin-bottom: 2em;
}
 div.slide#divDetail {margin-top: 2em;
   display: block;
 justify-content: center;
 margin-left: 7.5em;
max-width: 60em;}

/* add recipe page */
form>fieldset>h2:hover {
  background-color: white;
  color: #BE2C47
}

#detailpagina {
  max-width: 50em;
  justify-content: center;
  border: 1px solid white;
  padding: 0.5em;
  margin-top: 2em;
  position: absolute;
  margin: auto;
  top: 5em;
  right: 0;
  left: 0;
}
input, label {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1px auto;
}

.duration_inputs {
  display: flex;
  justify-content: center;
}

div.duration_inputs>p {
  font-size: 12px;
  margin-left: -13px
}

input {
  border-radius: 3px
}

fieldset {
  width: 13em;
  border-radius: 10px;
  border: 2px solid #72192A;
  background-color: #C02C47;
  color: white
}

form>fieldset>h2 {
  color: white;
  text-align: center;
  background-color: #BE2C47;
  padding: 4px 8px 4px 8px;
  border-radius: 10px;
  font-size: 1em;
}

form, h1 {
  display: flex;
  justify-content: center;
}

/* detail.ejs */
div.list_recipes {
  /*
  display: flex;
  flex-wrap: wrap; */
  justify-content: center;
  margin-top: 1em;
}

div.slide {
  border: 2px solid #72192A;
  border-radius: 10px;
  padding: 1px 15px 15px 15px;
  margin: 1em 2em 1em 2em;
  max-width: 30em;
  min-width: 16em;
  justify-content: center;
}

div.slide button {
  color: white;
  background-color: #f2385a;
  display: flex;
  padding: 5px;
  border-radius: 5px;
  height: 30px;
}

div.slide>h1>a {
  color: white
}

.slide {
  width: 300px;
  max-height: 550px;
  flex-shrink: 0;
  height: 100%;
  justify-content: center;
}

.container {
  width: 600px;
  height: 600px;
  overflow: hidden;
}
.list_recipes {
  width: 600%;
  height: 600px;
  display: flex;
  margin: auto;
  top: 4em;
  right: 0;
  bottom: 0;
  left: 0;
  transition: .3s all;
}

justify-content: center;
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-points-x: repeat(300px);
      -ms-scroll-snap-points-x: repeat(300px);
          scroll-snap-points-x: repeat(300px);
  -webkit-scroll-snap-type: mandatory;
      -ms-scroll-snap-type: mandatory;
          scroll-snap-type: mandatory;
}

.nextRecipeRight, .nextRecipeLeft {width: 30px;
height: 30px}

.nextRecipeRight {
  margin-left: -1.5em;
  width: 30px}
.nextRecipeLeft {
  margin-right: -1.5em;
  width: 30px}
